.icsCaption{
	width: fit-content;
	width: -moz-fit-content;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	position: absolute;
	z-index: 9998;
	top: 20px;
	cursor: default;
}
.icsCaptionFirst{
	z-index: 4999;
}
.icsCaptionSecond-v{
	z-index: 4999;
}